<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城公告</title>
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>



    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/service/itemCatService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/service/contentService.js">  </script>
    <script type="text/javascript" src="../js/service/uploadService.js">  </script>
    <script type="text/javascript" src="../js/service/contentCategoryService.js">  </script>
    <script type="text/javascript" src="../js/controller/contentController.js"></script>
</head>
<body ng-app="pinyougou" ng-controller="contentController" ng-init="findAnnouncement()">
<form class="form-horizontal">
    <fieldset>
        <div id="legend" class="">
            <legend class="">商城公告</legend>
        </div>
        <div class="control-group" style="margin-left: 300px; margin-top: 100px">

            <!-- Textarea -->
            <label class="control-label" style="margin-left: 320px"><font size="5px">商城公告</font></label>
            <div class="controls">
                <div class="textarea">
                    <textarea rows="20" cols="100" ng-model="announcement"> {{announcement}}</textarea>
                </div>
                <button type="submit" class="btn" style="margin-left: 350px; margin-top: 30px" ng-click="updateAnnouncement()">更新</button>
            </div>
        </div>

    </fieldset>
</form>
</body>
</html>